# Created by .ignore support plugin (hsz.mobi)
!**/src/main/**
!**/src/test/**

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# other
.idea/**
target/**
logs/**
*/target/*
*.iml
.mvn/**
hs_err_pid*
/logs/
/.idea/